/* Global styling */

section {
    background-color: black;
}

h1, h3, ul, li, p, label, input {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form div, section .resume-section {
    padding: 1% 18%;
}

/* Contact Area */

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ffe593;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

  .btn:hover {
    letter-spacing: 2px;
  }

  /* Resume Area */


  /* Portfolio Area */

  div .card-desc-middle {
    margin: 5rem 1% 1% 1%;
    padding: 1% 11%;
  }

div .title-lg {
    font-size: 40px;
    
}

div .subtitle-md {
    font-size: 20px;
}

  .example {
    position: relative;
    padding: 0;
    width: 300px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }
  .content {
    opacity: 0%;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    background-color: rgba(200, 200, 200, 0.7);
    width: 525px;
    height: 600px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.example .content:hover {
    opacity: 100%;
    padding-top: 15%;
  }
  .example .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .example .content:hover .text {
    opacity: 100%;
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
  }
  
  /* About Area */

  .about-example {
    position: relative;
    padding: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }
  .about-content {
    opacity: 0%;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.about-example .about-content:hover {
    opacity: 100%;
  }
  .about-example .about-content .about-text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .about-example .about-content:hover .about-text {
    opacity: 100%;
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
  }

  .about-title {
    padding-top: 5%;
  }

  .about-desc {
    text-align: center;
    font-size: larger;
    margin: 5% auto;
}
