/* Global styling */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1, h3, ul, li, p, label, input {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form div, section .resume-section {
    padding: 1% 18%;
}

/* Contact Area */

.bg-contact {
    background-color: #84A98C;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ffe593;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

  .btn:hover {
    letter-spacing: 2px;
  }

  /* Resume Area */
.bg-resume {
    background-color: #354F52;
}

  /* Portfolio Area */

  .bg-portfolio {
    background-color: #2F3E46;
  }

  /* div .card-desc-middle {
    margin: 5rem 1% 1% 1%;
    padding: 1% 11%;
  } */

  .card-text {
    color: blue;
  }

div .title-lg {
    font-size: 40px;
    
}

div .subtitle-md {
    font-size: 20px;
}

  .example {
    position: relative;
    padding: 0;
    width: 300px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }
  .content {
    opacity: 0%;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    background-color: rgba(200, 200, 200, 0.7);
    width: 95%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.example .content:hover {
    opacity: 100%;
    padding-top: 15%;
  }
  .example .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .example .content:hover .text {
    opacity: 100%;
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
  }
  
  /* About Area */

  .about-example {
    position: relative;
    padding: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }
  .about-content {
    opacity: 0%;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.about-example .about-content:hover {
    opacity: 100%;
  }
  .about-example .about-content .about-text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .about-example .about-content:hover .about-text {
    opacity: 100%;
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
  }

  .about-title {
    padding-top: 5%;
    color: black;
    text-shadow: 2px 2px lightgray;
  }

  .about-desc {
    color: black;
    text-shadow: 2px 2px lightgray;
    text-align: center;
    font-size: larger;
    margin: 5% auto;
    width: fit-content;
    height: fit-content;
}

.avatar-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

/* Nav Area */
.bg-nav, .bg-footer {
    background-color: #CAD2C5;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .scroll-text {
    height: 100%;
    text-align: center;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
}